.total_container {
  padding: 0 5%;
}
.nHeader_container {
  display: flex;
  margin-bottom: 20px;
}

.title_container {
  flex:5;
  margin-left: 10px;
  h1 {
    margin-bottom: 5px;
    align-self: flex-end;
    font-weight: 500;
    font-size: 35px;
  }
  .speaker_img {
    width: 40px;
    height: 40px;
    white-space: nowrap;
  }
}

.add_text {
  flex:2;
  text-align: right;
  margin-top: 30px;
  margin-right: 10px;

  span {
    white-space:nowrap;
    padding: 5px;
    border:1px solid black;
    font-size: 12pt;
    transition: 0.5s;

    &:hover{   
      background-color: #EAEAEA; 
    }
  }
}
    
.list_container {
  border-top:1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5px;
  justify-content:center;
  width: 100%;
  a{
    width: 100%;
  }
}
