.main_title{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.main_sub_title{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 300;
}
.main_title_sub{
    
    font-size: 20px;
    text-align: center;
}