.question-itm {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;

    .itm-title {
        span {font-size: 14px;}
        hr {
            border: none;
            width: 100px;
            height: 4px;
            background-image: linear-gradient(90deg, #f84f4f 0%, #08c97c 100%);
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
            margin-top: 20px;
            word-break: keep-all;
        }
        p{
            font-size: 20px;
            margin-top: 10px;
        }
    }

    .label-wrapper{
        margin-top: 30px;
        .preq-label{
            margin-top: 30px;
            display: flex;
            align-items: center;

            input{
                cursor: pointer;
                transition: all 0.3s;
                border-radius: 100%;
                -webkit-appearance: none;
                width: 30px;
                height: 30px;
                border: 3px solid #DADADA;
                &:checked{background-color: #DADADA;}
            }
            h3{
                margin: 0 20px;
                font-weight: 500;
            }
        }
    }

    &:first-child {
        .label-wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            .preq-label {
                margin: 0 20px;
                display: block;
                h3 {
                    font-size: 24px;
                }
                input {
                    transition: all 0.3s;
                    border-radius: 100%;
                    -webkit-appearance: none;
                    width: 40px;
                    height: 40px;

                    &.green{
                        color: #08c97c;
                        border: 4px solid #08c97c;
                        &:checked {
                            border: 2px solid #08c97c;
                            background-color: #08c97c80;
                        }
                    }

                    &.red{
                        color: #F84F4F;
                        border: 4px solid #F84F4F;
                        &:checked {
                            border: 2px solid #F84F4F;
                            background-color: #f84f4f80;
                        }
                    }
                }
            }
        }
    }
}

.start{
    display: block;
    text-align: center;
    width: 200px;
    margin: auto;
    line-height: 50px;
    // background-image: linear-gradient(90deg, #f84f4f 0%, #08c97c 100%);
    background-color: #08c97c;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 200px;
}

@media screen and (max-width: 700px) {
    .question-itm {

        .itm-title {
            span {font-size: 14px;}
            h1 {font-size: 20px;}
            p{
                font-size: 16px;
                font-weight: 500;
            }
        }
    
        .label-wrapper{
            .preq-label{
                input{
                    width: 30px;
                    height: 30px;
                }
                h3{
                    margin: 0 20px;
                    font-weight: 500;
                }
            }
        }
    
        &:first-child {
            .label-wrapper {
                .preq-label {
                    h3 {
                        font-size: 18px;
                    }
                    input {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}