.container {
  display: flex;
  justify-content:center;
  flex-direction: column;
  border:1px solid black;
 
}

.modifyContainer {
  display: flex;
  flex-direction: row;
  border:1px solid black;
  width: 60%;
  text-align: center;
  align-self: center;
  div {
    margin-left: 10px;
    border:1px solid black;
    text-align: center;
  }
}

.contentContainer {
  border:1px solid black;
  width: 100%;
  display: flex;

}

.imageContainer {
  border:1px solid black; 
  margin:10px;
  width: 40%;
  height: 500px;

  img {
    max-width: 100%;;
    max-height: 100%;
  }
}

.textContainer {
  //border: 1px solid black;
  margin:10px;
  width: 60%;

  h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 15%;
    border-bottom: 1px solid gray;
    font-size: 30px;
  }

  div {
    border-bottom: 1px solid gray;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

// .aaa {
//   height: 10%;
//   border-bottom: 1px solid gray;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;
  
//   div {
//     width: 50%;
//   }
//   .dateStyle {
//     width: 50%;
//     text-align: right;
// }

.contentContainer {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}




