$base-black: rgb(30, 30, 30);
$line-black: rgba(0, 0, 0, 0.2);

$base-blue: #6070ff;
$base-red: #d62839;

$key-gradient: linear-gradient(to right, #6070ff 0%, #d62839 100%);

$color--border: #dadada;
$color--white: #fff;