@media all and (min-width:600px) {
.main_width_box{
    width: 80%;
}
.line_text{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    .line_text_top_box{
        width: 100%;
        margin-bottom: 30px;
    }
    .line_text_div{
        width: 52%;
        height: 2px;
        background-image: linear-gradient(to right, #6070FF 0%, #D62839 100%);
        position: absolute;
        margin-bottom: 6px;
    }
    .line_text_div_month{
        width: 20%;
        height: 2px;
        background-image: linear-gradient(to right, #6070FF 0%, #D62839 100%);
        // border: 1px solid linear-gradient(to right, #01c9ca 0%, #3886FF 100%);
        position:absolute;
        margin-bottom: 3px;
    }
    .line_text_year{
        background-color: white;
        font-size: 30px;
        font-style: bold;
        font-weight: 500;
        z-index: 100;
    }
    .line_text_month{
        background-color: white;
        font-size: 20px;
        z-index: 100;
        font-weight: 300;        
        
    }

}
.main_first{
    display: flex;
    justify-content: center;
    margin-top : 30px;
}

.line_box{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .project_box{
        box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2);
        border: 1px solid whitesmoke;
        margin: 2.5%;
        padding: 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        align-items: center;
        .project_box_img{
            width: 100%;
            height: 250px;
            object-fit: contain;
         }
        .project_box_text{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .project_box_text-title{
                font-weight: bold;
                font-size: 18px;
                margin: 5px 0;
            }

            .project_box_text-date{

            }
        }
    }
}
}